.navbar {
    width: 100%;
    position: fixed;
    display: flex;
    background-color:  rgb(222, 222, 222);
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 20px;
    min-height: 50px;
    box-sizing: border-box; 
}

.navbar-link {
    padding: 10px;
    color: black;
    text-decoration: none;
}

.intro {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
    display: grid;
    padding-left: 20%;
    padding-right: 20%;
    background-color:  rgb(222, 222, 222);
    align-items: center;
    text-align: center;
}

.intro-title {
    display: flex;
    justify-content: center;
    align-items: center; /* text centered vertically */
    flex-wrap: wrap;
    text-align: center; /* center the text inside flex containe */
}

.intro-image {
    display: flex;
    justify-content: center;
    align-items: center; /* text centered vertically */
    flex-wrap: wrap;
    text-align: center; /* center the text inside flex containe */
}

.profile-image {
    border-radius: 50%;
    max-height: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text {
    padding: 10px;
    font-size: large;
    text-align: center;
    color: rgb(66, 66, 66);
}

.project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.project-child-page {
    margin-top: 60px;
}
.project-text {
    max-width: 40%;
    padding: 15px;
}

.project-image-contener {
    max-width: 40%;
}
.project-image {
    max-width: 100%;
}

.subtitle {
    font-weight: 200;
    color: gray;
}

.about-me-text {
    margin-left: 20%;
    margin-right: 20%;
}

.contact-info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.icon {
    max-height: 30px;
    margin-right: 15px;
}

.logo {
    transition: transform 0.75s ease;
}

.logo:hover{
    transform: rotate(360deg);
}

.contact-item a {
    text-decoration: none;
    color: #333;
}

.contact-item a:hover {
    text-decoration: underline;
    color: #1a79a5;
}

::selection {
    background-color: #d8d8d8; /* When hilighting text, the background change to yellow */
}

.about-me-text p::first-letter {
    font-weight: bold;
    line-height: 1;
}

.subtitle::before {
    content: '| '; /* Adding a little break before subtitles. */
}

.about-me {
    background-color:  rgb(222, 222, 222);
    height: 20px;
}

h1 {
    font-weight: 200;
}

h2 {
    font-weight: normal;
}

body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: "Poppins", sans-serif;
    min-width: 320px;
}

button {
    margin-top: 15px;
    margin-bottom: 30px;
    color:rgb(66,66,66);
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
    transition: 0.3s ease-in-out;
}

@media screen and (max-width: 600px) {
    .intro {
        padding-left: 5%;
        padding-right: 5%;
    } 

    .project {
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
    }
    .project-text {
        max-width: 90%;
        padding: 15px;
    }
    
    .project-image-contener {
        max-width: 90%;
        padding-top: 10px;
    }

    .about-me-text {
        margin-left: 5%;
        margin-right: 5%;
    }
}
