.navbar {
    width: 100%;
    position: fixed;
    display: flex;
    background-color:  rgb(222, 222, 222);
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.navbar-link {
    padding: 10px;
    color: black;
    text-decoration: none;
}

body {
    font-family: sans-serif;
}